* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
  height: 100%;
  overflow: hidden;
  background: url(assets/img/background-stars-desktop_81342104.webp) no-repeat;
  background-size: cover;
}