.fade {
  position: relative;
  width: 100%;
  min-height: 50vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}
.intro {
  text-align: center;
  color: #09f;
  font-size: 175%;
  font-family: 'Pathway Gothic One', sans-serif;
  animation: intro 6s ease-out 1s;
  opacity: 0;
}

.logo {
  width: 100%;
  height: 0px;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: logo 9s ease-out 9s;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 300px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  opacity: 0;
  transform-origin: 50% 100%;
  animation: crawl 80s linear 15s;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

.ending {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: -350px auto;

  text-align: center;
  color: #09f;
  font-size: 175%;
  font-family: 'Pathway Gothic One', sans-serif;
  animation: ending 6s ease-out 95s;
  opacity: 0;
}

@keyframes intro {
  20% { 
    opacity: 1; 
  }
  90% {
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}

@keyframes logo {
  0% {
    transform: scale(2.75); 
    opacity: 1;
  }
  50% { 
    opacity: 1;
  }
  100% {
    transform: scale(.1);
    opacity: 0;
  }
}

@keyframes crawl {
  0% {
    opacity: 1;
    top: 200px;
    transform: rotateX(20deg)  translateZ(0);
  }
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

@keyframes ending {
  20% { 
    opacity: 1; 
  }
  90% {
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}